@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

@theme {
	--font-georama: 'Georama', sans-serif;
	--font-roboto: 'Roboto Mono', monospace;
	--breakpoint-3xl: 1920px;
}

@utility flex-center {
	@apply flex items-center justify-center;
}

@utility col-center {
	@apply flex flex-col items-center justify-center;
}

@utility abs-center {
	@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer components {
	.icon {
		@apply p-1 hover:bg-gray-200 rounded hover:cursor-default;
	}

	#photos {
		@apply max-w-3xl absolute top-96 left-1/2 -translate-y-1/2 bg-white shadow-2xl drop-shadow-2xl rounded-xl overflow-hidden;

		.sidebar {
			@apply w-3/12 flex-none bg-gray-50 border-r border-gray-200 flex flex-col p-5;

			h2 {
				@apply text-xs font-medium text-gray-400 mb-1;
			}

			ul {
				li {
					@apply flex space-y-1 items-center gap-2 px-3 py-2 rounded-md cursor-pointer transition-colors;

					&:first-child {
						@apply bg-blue-100 text-blue-700;
					}

					img {
						@apply w-4;
					}

					p {
						@apply text-sm font-medium;
					}
				}
			}
		}

		.gallery {
			@apply p-5;

			ul {
				@apply grid grid-cols-5 grid-rows-5 gap-2.5;

				li {
					img {
						@apply size-full object-cover rounded-lg;
					}

					&:first-child {
						@apply row-start-1 row-span-3 col-start-1 col-span-3;
					}

					&:nth-child(2) {
						@apply row-start-1 row-span-3 col-start-4 col-span-2;
					}

					&:nth-child(3) {
						@apply row-start-4 row-span-2 col-start-3 col-span-3;
					}

					&:last-child {
						@apply row-start-4 row-span-2 col-start-1 col-span-2;
					}
				}
			}
		}
	}
}
